a {
    color: rgb(18, 72, 117);
    text-decoration: none;
}
a:link {
    color: rgb(31, 31, 31);
    text-decoration: none;
}
a:visited {
    color: rgb(128, 11, 196);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 0, 128);
    text-decoration: underline;
    background-color: aliceblue;
    text-shadow: 4px 3px 3px rgba(85, 84, 84, 0.582);
    border-radius: 10px;
}
a:active {
    color: black;
    opacity: 0.3;
}
body {
    background-color: rgb(202, 216, 230);
    color: rgb(39, 119, 156);
    font-family: Arial;
    margin: 50px;
}
main {
    background-color: rgb(202, 216, 230);
    color: rgb(39, 119, 156);
    font-family: Arial;
    margin: 20px;
}
footer {
    background-color:rgba(91, 155, 197, 0.247);
    color: rgb(29, 96, 128);
    padding: 8px;
    font-size: 12pt;
    font-style: italic;
    text-align: right;
}
header{
    background-color:rgb(91, 155, 197, 0.247);
    color:rgb(29, 96, 128);
    padding: 10px;
    font-size: 16pt;
}